@model List<DATN_GO.ViewModels.Store.ProductAdminViewModel>

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@functions {
    string GetStatusDisplayName(string status)
    {
        return status switch
        {
            "PendingApproval" => "Chờ duyệt",
            "NotApproved" => "Không duyệt",
            "Rejected" => "Từ chối",
            "Approved" => "Đã duyệt",
            "Hidden" => "Ẩn",
            _ => status
        };
    }
}

<div class="page-wrapper">

    <header class="main-header" id="header">
        <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
            <!-- Sidebar toggle button -->
            <button id="sidebar-toggler" class="sidebar-toggle">
                <span class="sr-only">Toggle navigation</span>
            </button>

            <span class="page-title">Duyệt sản phẩm</span>

            <div class="navbar-right ">

                <!-- search form -->
                <div class="search-form">

                    <ul class="dropdown-menu dropdown-menu-search">

                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Morbi leo risus</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Dapibus ac facilisis in</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Porta ac consectetur ac</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Vestibulum at eros</a>
                        </li>

                    </ul>

                </div>

                <ul class="nav navbar-nav">
                    <!-- Offcanvas -->
                    <li class="custom-dropdown">
                        <a class="offcanvas-toggler active custom-dropdown-toggler" data-offcanvas="contact-off"
                           href="javascript:">
                            <i class="mdi mdi-contacts icon"></i>
                        </a>
                    </li>
                    <li class="custom-dropdown">
                        <button class="notify-toggler custom-dropdown-toggler">
                            <i class="mdi mdi-bell-outline icon"></i>
                            <span class="badge badge-xs rounded-circle">21</span>
                        </button>
                        <div class="dropdown-notify">

                            <header>
                                <div class="nav nav-underline" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="all-tabs" data-toggle="tab" href="#all" role="tab"
                                       aria-controls="nav-home" aria-selected="true">All (5)</a>
                                    <a class="nav-item nav-link" id="message-tab" data-toggle="tab" href="#message" role="tab"
                                       aria-controls="nav-profile" aria-selected="false">Msgs (4)</a>
                                    <a class="nav-item nav-link" id="other-tab" data-toggle="tab" href="#other" role="tab"
                                       aria-controls="nav-contact" aria-selected="false">Others (3)</a>
                                </div>
                            </header>

                            <div class="" data-simplebar style="height: 325px;">
                                <div class="tab-content" id="myTabContent">

                                    <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tabs">

                                        <div class="media media-sm bg-warning-10 p-4 mb-0">
                                            <div class="media-sm-wrapper">
                                                <a href="user-profile.html">
                                                    <img src="images/user/user-sm-02.jpg" alt="User Image">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <a href="user-profile.html">
                                                    <span class="title mb-0">John Doe</span>
                                                    <span class="discribe">
                                                        Extremity sweetness difficult behaviour he of. On disposal of as
                                                        landlord horrible. Afraid at highly months do things on at.
                                                    </span>
                                                    <span class="time">
                                                        <time>Just now</time>...
                                                    </span>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="media media-sm p-4 bg-light mb-0">
                                            <div class="media-sm-wrapper bg-primary">
                                                <a href="user-profile.html">
                                                    <i class="mdi mdi-calendar-check-outline"></i>
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <a href="user-profile.html">
                                                    <span class="title mb-0">New event added</span>
                                                    <span class="discribe">1/3/2014 (1pm - 2pm)</span>
                                                    <span class="time">
                                                        <time>10 min ago...</time>...
                                                    </span>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="media media-sm p-4 mb-0">
                                            <div class="media-sm-wrapper">
                                                <a href="user-profile.html">
                                                    <img src="images/user/user-sm-03.jpg" alt="User Image">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <a href="user-profile.html">
                                                    <span class="title mb-0">Sagge Hudson</span>
                                                    <span class="discribe">
                                                        On disposal of as landlord Afraid at highly months do things on
                                                        at.
                                                    </span>
                                                    <span class="time">
                                                        <time>1 hrs ago</time>...
                                                    </span>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="media media-sm p-4 mb-0">
                                            <div class="media-sm-wrapper bg-info-dark">
                                                <a href="user-profile.html">
                                                    <i class="mdi mdi-account-multiple-check"></i>
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <a href="user-profile.html">
                                                    <span class="title mb-0">Add request</span>
                                                    <span class="discribe">Add Dany Jones as your contact.</span>
                                                    <div class="buttons">
                                                        <a href="#" class="btn btn-sm btn-success shadow-none text-white">accept</a>
                                                        <a href="#" class="btn btn-sm shadow-none">delete</a>
                                                    </div>
                                                    <span class="time">
                                                        <time>6 hrs ago</time>...
                                                    </span>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="media media-sm p-4 mb-0">
                                            <div class="media-sm-wrapper bg-info">
                                                <a href="user-profile.html">
                                                    <i class="mdi mdi-playlist-check"></i>
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <a href="user-profile.html">
                                                    <span class="title mb-0">Task complete</span>
                                                    <span class="discribe">Afraid at highly months do things on at.</span>
                                                    <span class="time">
                                                        <time>1 hrs ago</time>...
                                                    </span>
                                                </a>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="tab-pane fade" id="message" role="tabpanel" aria-labelledby="message-tab">

                                        <div class="media media-sm p-4 mb-0">
                                            <div class="media-sm-wrapper">
                                                <a href="user-profile.html">
                                                    <img src="images/user/user-sm-01.jpg" alt="User Image">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <a href="user-profile.html">
                                                    <span class="title mb-0">Selena Wagner</span>
                                                    <span class="discribe">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
                                                    <span class="time">
                                                        <time>15 min ago</time>...
                                                    </span>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="media media-sm p-4 mb-0">
                                            <div class="media-sm-wrapper">
                                                <a href="user-profile.html">
                                                    <img src="images/user/user-sm-03.jpg" alt="User Image">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <a href="user-profile.html">
                                                    <span class="title mb-0">Sagge Hudson</span>
                                                    <span class="discribe">
                                                        On disposal of as landlord Afraid at highly months do things on
                                                        at.
                                                    </span>
                                                    <span class="time">
                                                        <time>1 hrs ago</time>...
                                                    </span>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="media media-sm bg-warning-10 p-4 mb-0">
                                            <div class="media-sm-wrapper">
                                                <a href="user-profile.html">
                                                    <img src="images/user/user-sm-02.jpg" alt="User Image">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <a href="user-profile.html">
                                                    <span class="title mb-0">John Doe</span>
                                                    <span class="discribe">
                                                        Extremity sweetness difficult behaviour he of. On disposal of as
                                                        landlord horrible. Afraid
                                                        at highly months do things on at.
                                                    </span>
                                                    <span class="time">
                                                        <time>Just now</time>...
                                                    </span>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="media media-sm p-4 mb-0">
                                            <div class="media-sm-wrapper">
                                                <a href="user-profile.html">
                                                    <img src="images/user/user-sm-04.jpg" alt="User Image">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <a href="user-profile.html">
                                                    <span class="title mb-0">Albrecht Straub</span>
                                                    <span class="discribe">
                                                        Beatae quia natus assumenda laboriosam, nisi perferendis aliquid
                                                        consectetur expedita non tenetur.
                                                    </span>
                                                    <span class="time">
                                                        <time>Just now</time>...
                                                    </span>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="tab-pane fade" id="other" role="tabpanel" aria-labelledby="contact-tab">

                                        <div class="media media-sm p-4 bg-light mb-0">
                                            <div class="media-sm-wrapper bg-primary">
                                                <a href="user-profile.html">
                                                    <i class="mdi mdi-calendar-check-outline"></i>
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <a href="user-profile.html">
                                                    <span class="title mb-0">New event added</span>
                                                    <span class="discribe">1/3/2014 (1pm - 2pm)</span>
                                                    <span class="time">
                                                        <time>10 min ago...</time>...
                                                    </span>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="media media-sm p-4 mb-0">
                                            <div class="media-sm-wrapper bg-info-dark">
                                                <a href="user-profile.html">
                                                    <i class="mdi mdi-account-multiple-check"></i>
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <a href="user-profile.html">
                                                    <span class="title mb-0">Add request</span>
                                                    <span class="discribe">Add Dany Jones as your contact.</span>
                                                    <div class="buttons">
                                                        <a href="#" class="btn btn-sm btn-success shadow-none text-white">accept</a>
                                                        <a href="#" class="btn btn-sm shadow-none">delete</a>
                                                    </div>
                                                    <span class="time">
                                                        <time>6 hrs ago</time>...
                                                    </span>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="media media-sm p-4 mb-0">
                                            <div class="media-sm-wrapper bg-info">
                                                <a href="user-profile.html">
                                                    <i class="mdi mdi-playlist-check"></i>
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <a href="user-profile.html">
                                                    <span class="title mb-0">Task complete</span>
                                                    <span class="discribe">Afraid at highly months do things on at.</span>
                                                    <span class="time">
                                                        <time>1 hrs ago</time>...
                                                    </span>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <footer class="border-top dropdown-notify-footer">
                                <div class="d-flex justify-content-between align-items-center py-2 px-4">
                                    <span>Last updated 3 min ago</span>
                                    <a id="refress-button" href="javascript:" class="btn mdi mdi-cached btn-refress"></a>
                                </div>
                            </footer>
                        </div>
                    </li>
                    <!-- User Account -->
                    <li class="dropdown user-menu">
                        <button class="dropdown-toggle nav-link" data-toggle="dropdown">
                            <img src="images/user/user-xs-01.jpg" class="user-image rounded-circle" alt="User Image" />
                            <span class="d-none d-lg-inline-block">John Doe</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a class="dropdown-link-item" href="user-profile.html">
                                    <i class="mdi mdi-account-outline"></i>
                                    <span class="nav-text">My Profile</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-link-item" href="email-inbox.html">
                                    <i class="mdi mdi-email-outline"></i>
                                    <span class="nav-text">Message</span>
                                    <span class="badge badge-pill badge-primary">24</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-link-item" href="user-activities.html">
                                    <i class="mdi mdi-diamond-stone"></i>
                                    <span class="nav-text">Activitise</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-link-item" href="user-account-settings.html">
                                    <i class="mdi mdi-settings"></i>
                                    <span class="nav-text">Account Setting</span>
                                </a>
                            </li>

                            <li class="dropdown-footer">
                                <a class="dropdown-link-item" href="sign-in.html"> <i class="mdi mdi-logout"></i> Log Out </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>


    </header>

    <div class="content-wrapper">
        <div class="content">
            <div class="row">
                <div class="col-12">
                    <div class="card card-default">
                        <div class="card-header">
                            <h2 class="text-danger">Duyệt sản phẩm</h2>
                            <div class="mb-3 d-flex justify-content-end" id="bulkProductButtons" style="display: none; gap: 12px;">
                                <button class="btn btn-success btn-approve-all">Duyệt tất cả</button>
                                <button class="btn btn-danger btn-reject-all">Từ chối tất cả</button>
                            </div>
                        </div>
                        <div class="card-body">
                            <table id="productsTable" class="table table-hover table-product" style="width:100%">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" id="checkAllProducts" /></th>
                                        <th>Ảnh</th>
                                        <th>Sản phẩm</th>
                                        <th>Danh mục</th>
                                        <th>Giá</th>
                                        <th>Tồn kho</th>
                                        <th>Cửa hàng</th>
                                        <th>Trạng thái</th>
                                        <th>Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var p in Model)
                                    {
                                        <tr>
                                            <td><input type="checkbox" class="product-checkbox" value="@p.Id" /></td>
                                            <td>
                                                <img src="@p.MainImage" class="clickable-image" data-src="@p.MainImage"
                                                     style="width:50px; cursor:pointer;" />
                                            </td>
                                            <td>@p.Name</td>
                                            <td>@p.CategoryName</td>
                                            <td>@String.Format("{0:#,##0}₫", p.CostPrice)</td>
                                            <td>@p.Quantity</td>
                                            <td>@p.StoreName</td>
                                            <td><span class="badge badge-warning">@GetStatusDisplayName(p.Status)</span></td>
                                            <td>
                                                <button class="btn btn-sm btn-success btn-approve" data-id="@p.Id">
                                                    <i class="bi bi-check-circle-fill"></i> Duyệt
                                                </button>
                                                <button class="btn btn-sm btn-danger btn-reject" data-id="@p.Id">
                                                    <i class="mdi mdi-close-circle-outline"></i> Từ chối
                                                </button>

                                                <button class="btn btn-sm btn-info btn-detail" data-id="@p.Id">
                                                    <i class="mdi mdi-eye-outline"></i> Xem
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content text-center p-4 rounded shadow" style="background-color: #fff;">
            <button type="button" class="close ml-auto mb-2 mr-1 mt-1" data-dismiss="modal" aria-label="Đóng">
                <span aria-hidden="true" style="font-size: 2rem;">&times;</span>
            </button>
            <img id="modalImage" src="" class="img-fluid rounded" style="max-height: 75vh; object-fit: contain;" alt="Zoom ảnh">
        </div>
    </div>
</div>

<!-- Modal duyệt tất cả -->
<div class="modal fade" id="bulkApproveModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Xác nhận duyệt tất cả</h5>
                <button type="button" class="close text-white" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">Bạn chắc chắn muốn duyệt tất cả sản phẩm đã chọn?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Huỷ</button>
                <button type="button" class="btn btn-success" id="confirmBulkApproveBtn">Duyệt</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal từ chối tất cả -->
<div class="modal fade" id="bulkRejectModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Xác nhận từ chối tất cả</h5>
                <button type="button" class="close text-white" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">Bạn chắc chắn muốn từ chối tất cả sản phẩm đã chọn?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Huỷ</button>
                <button type="button" class="btn btn-danger" id="confirmBulkRejectBtn">Từ chối</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="detailModalTitle" aria-describedby="detailModalDesc">
    <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content modal-product">
            <div class="modal-header bg-light">
                <h5 class="modal-title" id="detailModalTitle">Chi tiết sản phẩm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Đóng">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="detailModalBody" class="modal-body">
                <p id="detailModalDesc" class="sr-only">Thông tin đầy đủ sản phẩm, thuộc tính và các biến thể.</p>
                <div class="text-center py-4" id="detailLoading">
                    <div class="spinner-border" role="status" aria-label="Đang tải"></div>
                    <div class="mt-2">Đang tải...</div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<style>
    .modal-product .product-hero img {
        max-height: 260px;
        object-fit: contain;
    }

    .modal-product figure {
        margin: 0;
    }

    .modal-product .thumbs img {
        width: 84px;
        height: 84px;
        object-fit: cover;
        border-radius: 8px;
    }

    .modal-product .meta dl {
        display: grid;
        grid-template-columns: 160px 1fr;
        gap: 8px 16px;
    }

    .modal-product .meta dt {
        font-weight: 600;
        color: #555;
    }

    .modal-product .meta dd {
        margin: 0;
    }

    .modal-product .badge-soft {
        background: #eef2ff;
        color: #3b82f6;
    }

    .modal-product .kv {
        display: inline-flex;
        align-items: center;
        gap: 6px;
        padding: 4px 8px;
        border-radius: 999px;
        background: #f6f7f9;
        font-size: 12px;
    }

    .modal-product .table caption {
        caption-side: top;
        text-align: left;
        color: #6b7280;
    }
</style>


@section Scripts {
    <script>
        // =================== Helper (không đè jQuery) ===================
        function qs(sel, root = document) { return root.querySelector(sel); }
        function qsa(sel, root = document) { return Array.from(root.querySelectorAll(sel)); }

        // ========== CUSTOM TOAST ==========
        function showToast(message, isSuccess = true) {
            const iconUrl = isSuccess ? "/icons/happy.gif" : "/icons/sad.gif";
            const title = isSuccess ? "Thành công" : "Lỗi";
            const id = `toast-${Date.now()}`;
            const html = `
                <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true" id="${id}"
                     style="position: fixed; top: 1rem; right: 1rem; z-index: 9999; min-width: 320px;">
                    <div class="toast-header d-flex align-items-center ${isSuccess ? "bg-success" : "bg-danger"} text-white">
                        <img src="${iconUrl}" alt="icon" width="20" height="20" class="me-2" />
                        <strong class="me-auto">${title}</strong>
                        <small class="text-white">Vừa xong</small>
                        <button type="button" class="btn-close btn-close-white ms-2"
                                onclick="this.closest('.toast').remove()" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">${message}</div>
                </div>`;
            document.body.insertAdjacentHTML('beforeend', html);
            setTimeout(() => document.getElementById(id)?.remove(), 3000);
        }

        // ========== Anti-Forgery (nếu có) ==========
        function getCsrfToken() {
            return document.querySelector('input[name="__RequestVerificationToken"]')?.value ?? null;
        }
        async function postNoBody(url) {
            const headers = {};
            const token = getCsrfToken();
            if (token) headers['RequestVerificationToken'] = token;
            return fetch(url, { method: 'POST', headers });
        }

        // ========== Zoom ảnh ==========
        qsa('.clickable-image').forEach(img => {
            img.addEventListener('click', function () {
                document.getElementById('modalImage').src = this.dataset.src;
                // Dùng jQuery thật để gọi Bootstrap modal
                window.jQuery('#imageModal').modal('show');
            });
        });

        // ========== Duyệt / Từ chối từng sản phẩm ==========
        qsa('.btn-approve').forEach(btn => {
            btn.addEventListener('click', async function () {
                const id = this.dataset.id;
                this.disabled = true;
                const oldHtml = this.innerHTML;
                this.innerHTML = '<span class="spinner-border spinner-border-sm"></span>...';
                try {
                    const res = await postNoBody(`/Admin/Product/Approve?id=${encodeURIComponent(id)}`);
                    if (res.ok) {
                        showToast('✅ Sản phẩm đã được duyệt!', true);
                        this.closest('tr')?.remove();
                    } else {
                        showToast('❌ Duyệt sản phẩm thất bại!', false);
                    }
                } catch {
                    showToast('❌ Duyệt sản phẩm thất bại (mạng/exception)!', false);
                } finally {
                    this.disabled = false;
                    this.innerHTML = oldHtml;
                    toggleBulkButtons();
                }
            });
        });

        qsa('.btn-reject').forEach(btn => {
            btn.addEventListener('click', async function () {
                const id = this.dataset.id;
                this.disabled = true;
                const oldHtml = this.innerHTML;
                this.innerHTML = '<span class="spinner-border spinner-border-sm"></span>...';
                try {
                    const res = await postNoBody(`/Admin/Product/Reject?id=${encodeURIComponent(id)}`);
                    if (res.ok) {
                        showToast('🚫 Sản phẩm đã bị từ chối!', false);
                        this.closest('tr')?.remove();
                    } else {
                        showToast('❌ Từ chối sản phẩm thất bại!', false);
                    }
                } catch {
                    showToast('❌ Từ chối sản phẩm thất bại (mạng/exception)!', false);
                } finally {
                    this.disabled = false;
                    this.innerHTML = oldHtml;
                    toggleBulkButtons();
                }
            });
        });

        // ========== Select All & bật/tắt nút bulk ==========
        const checkAll = document.getElementById('checkAllProducts');
        const bulkBtnsWrap = document.getElementById('bulkProductButtons');

        if (checkAll) {
            checkAll.addEventListener('change', function () {
                const checked = this.checked;
                qsa('.product-checkbox').forEach(cb => cb.checked = checked);
                toggleBulkButtons();
            });
        }
        qsa('.product-checkbox').forEach(cb => cb.addEventListener('change', toggleBulkButtons));

        function toggleBulkButtons() {
            const count = qsa('.product-checkbox:checked').length;
            if (bulkBtnsWrap) bulkBtnsWrap.style.display = count > 0 ? 'flex' : 'none';
        }

        // ========== Bulk helper (Approve/Reject theo lô) ==========
        async function callEndpointPerId(ids, action /* 'Approve' | 'Reject' */) {
            const base = action === 'Approve' ? '/Admin/Product/Approve?id=' : '/Admin/Product/Reject?id=';
            const CONCURRENCY = 6;                 // giới hạn song song nhẹ nhàng
            const queue = [...ids];
            const okIds = [];
            const failIds = [];

            async function worker() {
                while (queue.length) {
                    const id = queue.shift();
                    try {
                        const res = await postNoBody(base + encodeURIComponent(id));
                        (res.ok ? okIds : failIds).push(id);
                    } catch {
                        failIds.push(id);
                    }
                }
            }

            await Promise.all(Array.from({ length: Math.min(CONCURRENCY, ids.length) }, worker));

            // Xóa row OK
            okIds.forEach(id => {
                const row = document.querySelector(`.product-checkbox[value="${id}"]`)?.closest('tr');
                row?.remove();
            });

            // Dọn trạng thái UI
            if (checkAll) checkAll.checked = false;
            toggleBulkButtons();

            // Tổng kết
            if (failIds.length === 0) {
                showToast(`✅ ${action === 'Approve' ? 'Duyệt' : 'Từ chối'} thành công ${okIds.length} sản phẩm.`, true);
            } else if (okIds.length === 0) {
                showToast(`❌ ${action === 'Approve' ? 'Duyệt' : 'Từ chối'} thất bại cho ${failIds.length} sản phẩm.`, false);
            } else {
                showToast(`⚠️ ${action === 'Approve' ? 'Duyệt' : 'Từ chối'}: OK ${okIds.length}, fail ${failIds.length}.`, false);
            }
        }

        // ========== Bulk Approve ==========
        const approveAllBtn = document.querySelector('.btn-approve-all');
        if (approveAllBtn) {
            approveAllBtn.addEventListener('click', function () {
                const selectedIds = qsa('.product-checkbox:checked').map(cb => cb.value);
                if (selectedIds.length === 0) return showToast("⚠️ Bạn chưa chọn sản phẩm nào để duyệt.", false);

                window.jQuery('#bulkApproveModal').modal('show');
                const btn = document.getElementById('confirmBulkApproveBtn');
                if (!btn) return;
                btn.onclick = async function () {
                    const old = btn.innerHTML;
                    btn.disabled = true; btn.innerHTML = '<span class="spinner-border spinner-border-sm"></span> Đang duyệt...';
                    try { await callEndpointPerId(selectedIds, 'Approve'); }
                    finally {
                        btn.disabled = false; btn.innerHTML = old;
                        window.jQuery('#bulkApproveModal').modal('hide');
                    }
                };
            });
        }

        // ========== Bulk Reject ==========
        const rejectAllBtn = document.querySelector('.btn-reject-all');
        if (rejectAllBtn) {
            rejectAllBtn.addEventListener('click', function () {
                const selectedIds = qsa('.product-checkbox:checked').map(cb => cb.value);
                if (selectedIds.length === 0) return showToast("⚠️ Bạn chưa chọn sản phẩm nào để từ chối.", false);

                window.jQuery('#bulkRejectModal').modal('show');
                const btn = document.getElementById('confirmBulkRejectBtn');
                if (!btn) return;
                btn.onclick = async function () {
                    const old = btn.innerHTML;
                    btn.disabled = true; btn.innerHTML = '<span class="spinner-border spinner-border-sm"></span> Đang từ chối...';
                    try { await callEndpointPerId(selectedIds, 'Reject'); }
                    finally {
                        btn.disabled = false; btn.innerHTML = old;
                        window.jQuery('#bulkRejectModal').modal('hide');
                    }
                };
            });
        }
  


    </script>
}