@model List<DATN_GO.ViewModels.PostAdminViewModel>
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";

}
<form id="anti-forgery-form">
    @Html.AntiForgeryToken()
</form>

@functions {
    string GetStatusDisplayName(string status)
    {
        return status switch
        {
            "NotApproved" => "Chờ duyệt",
            "Approved" => "Đã duyệt",
            _ => status
        };
    }
}


<div class="page-wrapper">

    <!-- Header -->
    <header class="main-header" id="header">
        <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
            <!-- Sidebar toggle button -->
            <button id="sidebar-toggler" class="sidebar-toggle">
                <span class="sr-only">Toggle navigation</span>
            </button>

            <span class="page-title">Duyệt bài viết</span>

            <div class="navbar-right ">

                <!-- search form -->
                <div class="search-form">

                    <ul class="dropdown-menu dropdown-menu-search">

                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Morbi leo risus</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Dapibus ac facilisis in</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Porta ac consectetur ac</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Vestibulum at eros</a>
                        </li>

                    </ul>

                </div>

                <ul class="nav navbar-nav">
                    <!-- Offcanvas -->
                    <li class="custom-dropdown">
                        <a class="offcanvas-toggler active custom-dropdown-toggler" data-offcanvas="contact-off"
                           href="javascript:">
                            <i class="mdi mdi-contacts icon"></i>
                        </a>
                    </li>
                    <li class="custom-dropdown">
                        <button class="notify-toggler custom-dropdown-toggler">
                            <i class="mdi mdi-bell-outline icon"></i>
                            <span class="badge badge-xs rounded-circle">21</span>
                        </button>
                        <div class="dropdown-notify">

                            <header>
                                <div class="nav nav-underline" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="all-tabs" data-toggle="tab" href="#all" role="tab"
                                       aria-controls="nav-home" aria-selected="true">All (5)</a>
                                    <a class="nav-item nav-link" id="message-tab" data-toggle="tab" href="#message" role="tab"
                                       aria-controls="nav-profile" aria-selected="false">Msgs (4)</a>
                                    <a class="nav-item nav-link" id="other-tab" data-toggle="tab" href="#other" role="tab"
                                       aria-controls="nav-contact" aria-selected="false">Others (3)</a>
                                </div>
                            </header>

                            <div class="" data-simplebar style="height: 325px;">
                                <div class="tab-content" id="myTabContent">

                                    <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tabs">

                                        <div class="media media-sm bg-warning-10 p-4 mb-0">
                                            <div class="media-sm-wrapper">
                                                <a href="user-profile.html">
                                                    <img src="images/user/user-sm-02.jpg" alt="User Image">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <a href="user-profile.html">
                                                    <span class="title mb-0">John Doe</span>
                                                    <span class="discribe">
                                                        Extremity sweetness difficult behaviour he of. On disposal of as
                                                        landlord horrible. Afraid at highly months do things on at.
                                                    </span>
                                                    <span class="time">
                                                        <time>Just now</time>...
                                                    </span>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="media media-sm p-4 bg-light mb-0">
                                            <div class="media-sm-wrapper bg-primary">
                                                <a href="user-profile.html">
                                                    <i class="mdi mdi-calendar-check-outline"></i>
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <a href="user-profile.html">
                                                    <span class="title mb-0">New event added</span>
                                                    <span class="discribe">1/3/2014 (1pm - 2pm)</span>
                                                    <span class="time">
                                                        <time>10 min ago...</time>...
                                                    </span>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="media media-sm p-4 mb-0">
                                            <div class="media-sm-wrapper">
                                                <a href="user-profile.html">
                                                    <img src="images/user/user-sm-03.jpg" alt="User Image">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <a href="user-profile.html">
                                                    <span class="title mb-0">Sagge Hudson</span>
                                                    <span class="discribe">
                                                        On disposal of as landlord Afraid at highly months do things on
                                                        at.
                                                    </span>
                                                    <span class="time">
                                                        <time>1 hrs ago</time>...
                                                    </span>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="media media-sm p-4 mb-0">
                                            <div class="media-sm-wrapper bg-info-dark">
                                                <a href="user-profile.html">
                                                    <i class="mdi mdi-account-multiple-check"></i>
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <a href="user-profile.html">
                                                    <span class="title mb-0">Add request</span>
                                                    <span class="discribe">Add Dany Jones as your contact.</span>
                                                    <div class="buttons">
                                                        <a href="#" class="btn btn-sm btn-success shadow-none text-white">accept</a>
                                                        <a href="#" class="btn btn-sm shadow-none">delete</a>
                                                    </div>
                                                    <span class="time">
                                                        <time>6 hrs ago</time>...
                                                    </span>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="media media-sm p-4 mb-0">
                                            <div class="media-sm-wrapper bg-info">
                                                <a href="user-profile.html">
                                                    <i class="mdi mdi-playlist-check"></i>
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <a href="user-profile.html">
                                                    <span class="title mb-0">Task complete</span>
                                                    <span class="discribe">Afraid at highly months do things on at.</span>
                                                    <span class="time">
                                                        <time>1 hrs ago</time>...
                                                    </span>
                                                </a>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="tab-pane fade" id="message" role="tabpanel" aria-labelledby="message-tab">

                                        <div class="media media-sm p-4 mb-0">
                                            <div class="media-sm-wrapper">
                                                <a href="user-profile.html">
                                                    <img src="images/user/user-sm-01.jpg" alt="User Image">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <a href="user-profile.html">
                                                    <span class="title mb-0">Selena Wagner</span>
                                                    <span class="discribe">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
                                                    <span class="time">
                                                        <time>15 min ago</time>...
                                                    </span>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="media media-sm p-4 mb-0">
                                            <div class="media-sm-wrapper">
                                                <a href="user-profile.html">
                                                    <img src="images/user/user-sm-03.jpg" alt="User Image">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <a href="user-profile.html">
                                                    <span class="title mb-0">Sagge Hudson</span>
                                                    <span class="discribe">
                                                        On disposal of as landlord Afraid at highly months do things on
                                                        at.
                                                    </span>
                                                    <span class="time">
                                                        <time>1 hrs ago</time>...
                                                    </span>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="media media-sm bg-warning-10 p-4 mb-0">
                                            <div class="media-sm-wrapper">
                                                <a href="user-profile.html">
                                                    <img src="images/user/user-sm-02.jpg" alt="User Image">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <a href="user-profile.html">
                                                    <span class="title mb-0">John Doe</span>
                                                    <span class="discribe">
                                                        Extremity sweetness difficult behaviour he of. On disposal of as
                                                        landlord horrible. Afraid
                                                        at highly months do things on at.
                                                    </span>
                                                    <span class="time">
                                                        <time>Just now</time>...
                                                    </span>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="media media-sm p-4 mb-0">
                                            <div class="media-sm-wrapper">
                                                <a href="user-profile.html">
                                                    <img src="images/user/user-sm-04.jpg" alt="User Image">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <a href="user-profile.html">
                                                    <span class="title mb-0">Albrecht Straub</span>
                                                    <span class="discribe">
                                                        Beatae quia natus assumenda laboriosam, nisi perferendis aliquid
                                                        consectetur expedita non tenetur.
                                                    </span>
                                                    <span class="time">
                                                        <time>Just now</time>...
                                                    </span>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="tab-pane fade" id="other" role="tabpanel" aria-labelledby="contact-tab">

                                        <div class="media media-sm p-4 bg-light mb-0">
                                            <div class="media-sm-wrapper bg-primary">
                                                <a href="user-profile.html">
                                                    <i class="mdi mdi-calendar-check-outline"></i>
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <a href="user-profile.html">
                                                    <span class="title mb-0">New event added</span>
                                                    <span class="discribe">1/3/2014 (1pm - 2pm)</span>
                                                    <span class="time">
                                                        <time>10 min ago...</time>...
                                                    </span>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="media media-sm p-4 mb-0">
                                            <div class="media-sm-wrapper bg-info-dark">
                                                <a href="user-profile.html">
                                                    <i class="mdi mdi-account-multiple-check"></i>
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <a href="user-profile.html">
                                                    <span class="title mb-0">Add request</span>
                                                    <span class="discribe">Add Dany Jones as your contact.</span>
                                                    <div class="buttons">
                                                        <a href="#" class="btn btn-sm btn-success shadow-none text-white">accept</a>
                                                        <a href="#" class="btn btn-sm shadow-none">delete</a>
                                                    </div>
                                                    <span class="time">
                                                        <time>6 hrs ago</time>...
                                                    </span>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="media media-sm p-4 mb-0">
                                            <div class="media-sm-wrapper bg-info">
                                                <a href="user-profile.html">
                                                    <i class="mdi mdi-playlist-check"></i>
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <a href="user-profile.html">
                                                    <span class="title mb-0">Task complete</span>
                                                    <span class="discribe">Afraid at highly months do things on at.</span>
                                                    <span class="time">
                                                        <time>1 hrs ago</time>...
                                                    </span>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <footer class="border-top dropdown-notify-footer">
                                <div class="d-flex justify-content-between align-items-center py-2 px-4">
                                    <span>Last updated 3 min ago</span>
                                    <a id="refress-button" href="javascript:" class="btn mdi mdi-cached btn-refress"></a>
                                </div>
                            </footer>
                        </div>
                    </li>
                    <!-- User Account -->
                    <li class="dropdown user-menu">
                        <button class="dropdown-toggle nav-link" data-toggle="dropdown">
                            <img src="images/user/user-xs-01.jpg" class="user-image rounded-circle" alt="User Image" />
                            <span class="d-none d-lg-inline-block">John Doe</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a class="dropdown-link-item" href="user-profile.html">
                                    <i class="mdi mdi-account-outline"></i>
                                    <span class="nav-text">My Profile</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-link-item" href="email-inbox.html">
                                    <i class="mdi mdi-email-outline"></i>
                                    <span class="nav-text">Message</span>
                                    <span class="badge badge-pill badge-primary">24</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-link-item" href="user-activities.html">
                                    <i class="mdi mdi-diamond-stone"></i>
                                    <span class="nav-text">Activitise</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-link-item" href="user-account-settings.html">
                                    <i class="mdi mdi-settings"></i>
                                    <span class="nav-text">Account Setting</span>
                                </a>
                            </li>

                            <li class="dropdown-footer">
                                <a class="dropdown-link-item" href="sign-in.html"> <i class="mdi mdi-logout"></i> Log Out </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>


    </header>

    <!-- ====================================
      ——— CONTENT WRAPPER
      ===================================== -->
    <div class="content-wrapper">
        <div class="content">



            <!-- Table Product -->
            <div class="row">
                <div class="col-12">
                    <div class="card card-default">
                        <div class="card-header">
                            <h2 class="text-danger"> duyệt bài viết</h2>
                            <div class="mb-3 d-flex justify-content-end" id="bulkActionButtons" style="display: none; gap: 12px;">
                                <button type="button" class="btn btn-success btn-approve-all" style="border-radius: 0; padding: 8px 16px;">
                                    <i class="bi bi-check-circle-fill me-1"></i> DUYỆT TẤT CẢ
                                </button>
                                <button type="button" class="btn btn-danger btn-reject-all" style="border-radius: 0; padding: 8px 16px;">
                                    <i class="mdi mdi-close-circle-outline me-1"></i> TỪ CHỐI TẤT CẢ
                                </button>
                            </div>

                        </div>
                        <div class="card-body">





                            <table id="productsTable" class="table table-hover table-product" style="width:100%">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" id="checkAll" /></th>
                                        <th></th>
                                        <th>Người đăng</th>
                                        <th>Tiêu đề</th>
                                        <th>Nội dung</th>
                                        <th>Thời gian</th>
                                        <th>Trạng thái</th>

                                        <th>Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var p in Model)
                                    {
                                        <tr>
                                            <td><input type="checkbox" class="post-checkbox" value="@p.Id" /></td>
                                            <td>
                                                @if (!string.IsNullOrEmpty(p.Image))
                                                {
                                                    <img src="@p.Image" class="clickable-image" data-src="@p.Image"
                                                         style="cursor: pointer; width: 60px;" alt="Ảnh bài viết" />
                                                }
                                                else
                                                {
                                                    <span>Không có ảnh</span>
                                                }
                                            </td>
                                            <td>@p.UserName</td>
                                            <td>@p.Content</td>
                                            <td>@p.CreateAt.ToString("dd/MM/yyyy HH:mm")</td>
                                            <td>
                                                <span class="badge badge-pill
                @(p.Status == "Approved" ? "badge-success" : p.Status == "NotApproved" ? "badge-warning" : "badge-secondary")">
                                                    @GetStatusDisplayName(p.Status)
                                                </span>
                                            </td>
                                            <td>
                                                <button class="btn btn-sm btn-success btn-approve" data-id="@p.Id">
                                                    <i class="bi bi-check-circle-fill"></i> Duyệt
                                                </button>
                                                <button class="btn btn-sm btn-danger btn-reject" data-id="@p.Id">
                                                    <i class="mdi mdi-close-circle-outline"></i> Từ chối
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>


                        </div>

                    </div>
                </div>
            </div>
            <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content text-center p-4 rounded shadow"
                         style="background-color: #fff; border: 1px solid #ddd;">
                        <!-- Close button -->
                        <button type="button" class="close ml-auto mb-2 mr-1 mt-1" data-dismiss="modal" aria-label="Đóng"
                                style="position: absolute; top: 10px; right: 15px; z-index: 10;">
                            <span aria-hidden="true" style="font-size: 2rem;">&times;</span>
                        </button>

                        <!-- Image content -->
                        <img id="modalImage" src="" class="img-fluid rounded"
                             style="max-height: 75vh; max-width: 100%; object-fit: contain; border: 4px solid #f1f1f1; padding: 10px; background: #fafafa;"
                             alt="Zoom ảnh">
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<!-- Modal xác nhận duyệt -->
<div class="modal fade" id="approveModal" tabindex="-1" role="dialog" aria-labelledby="approveModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h5 class="modal-title text-white" id="approveModalLabel">Thông báo duyệt bài viết</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn muốn duyệt bài viết này? Hành động này sẽ không thể hoàn tác.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light btn-pill" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-danger btn-pill" id="confirmApproveBtn">Duyệt</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal xác nhận từ chối -->
<div class="modal fade" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="rejectModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h5 class="modal-title text-white" id="rejectModalLabel">Thông báo từ chối bài viết</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn muốn từ chối bài viết này? Hành động này sẽ không thể hoàn tác.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light btn-pill" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-danger btn-pill" id="confirmRejectBtn">Từ chối</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal xác nhận duyệt tất cả -->
<div class="modal fade" id="bulkApproveModal" tabindex="-1" role="dialog" aria-labelledby="bulkApproveModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" id="bulkApproveModalLabel">Xác nhận duyệt tất cả</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn muốn <strong>duyệt tất cả</strong> bài viết đã chọn không?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Huỷ</button>
                <button type="button" class="btn btn-success" id="confirmBulkApproveBtn">Duyệt</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal xác nhận từ chối tất cả -->
<div class="modal fade" id="bulkRejectModal" tabindex="-1" role="dialog" aria-labelledby="bulkRejectModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" id="bulkRejectModalLabel">Xác nhận từ chối tất cả</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn muốn <strong>từ chối tất cả</strong> bài viết đã chọn không?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Huỷ</button>
                <button type="button" class="btn btn-danger" id="confirmBulkRejectBtn">Từ chối</button>
            </div>
        </div>
    </div>
</div>


<div class="position-fixed top-0 end-0 p-3" style="z-index: 1056">
    @if (TempData["ToastMessage"] != null && TempData["ToastType"] != null)
    {
        var toastType = TempData["ToastType"].ToString();
        var isSuccess = toastType == "success";
        <div class="toast @(isSuccess ? "" : "mt-3")" role="alert" aria-live="assertive" aria-atomic="true" id="autoToast">
            <div class="toast-header @(isSuccess ? "bg-success" : "bg-danger") text-white">
                <img src="@(isSuccess ? "/icons/happy.gif" : "/icons/sad.gif")" class="rounded me-2" width="20" height="20" alt="" />
                <strong class="me-auto">@((isSuccess) ? "Thành công" : "Lỗi")</strong>
                <small>Vừa xong</small>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                @TempData["ToastMessage"]
            </div>
        </div>
    }
</div>


@section Scripts2 {
    <script>
        let postIdToHandle = null;

        // ========== TOAST FUNCTION ==========
        function showToast(message, isSuccess = true) {
            const iconUrl = isSuccess ? "/icons/happy.gif" : "/icons/sad.gif";
            const title = isSuccess ? "Thành công" : "Lỗi";

            const toastHtml = `
            <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true" id="dynamicToast"
                 style="position: fixed; top: 1rem; right: 1rem; z-index: 9999; min-width: 320px;">
                <div class="toast-header d-flex align-items-center ${isSuccess ? "bg-success" : "bg-danger"} text-white">
                    <img src="${iconUrl}" alt="icon" width="20" height="20" class="me-2" />
                    <strong class="me-auto">${title}</strong>
                    <small class="text-white"> Vừa xong</small>
                    <button type="button" class="btn-close btn-close-white ms-2" onclick="this.closest('.toast').remove()" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    ${message}
                </div>
            </div>
            `;
            document.body.insertAdjacentHTML('beforeend', toastHtml);
            setTimeout(() => document.getElementById('dynamicToast')?.remove(), 3000);
        }

        // ========== IMAGE MODAL ==========
        document.querySelectorAll('.clickable-image').forEach(img => {
            img.addEventListener('click', function () {
                document.getElementById('modalImage').src = this.dataset.src;
                $('#imageModal').modal('show');
            });
        });

        // ========== CLOSE ALL MODALS ==========
        $('.close, [data-dismiss="modal"]').on('click', function () {
            $('#imageModal, #approveModal, #rejectModal, #bulkApproveModal, #bulkRejectModal').modal('hide');
        });

        // ========== APPROVE SINGLE ==========
        document.querySelectorAll('.btn-approve').forEach(btn => {
            btn.addEventListener('click', function () {
                postIdToHandle = this.dataset.id;
                $('#approveModal').modal('show');
            });
        });

        document.getElementById('confirmApproveBtn').addEventListener('click', async function () {
            if (postIdToHandle) {
                const res = await fetch(`/Admin/Post/Approve?id=${postIdToHandle}`, { method: 'POST' });
                const data = await res.json();
                $('#approveModal').modal('hide');
                showToast(data.message, data.success);
                if (data.success) {
                    setTimeout(() => location.reload(), 1500);
                }
            }
        });

        // ========== REJECT SINGLE ==========
        document.querySelectorAll('.btn-reject').forEach(btn => {
            btn.addEventListener('click', function () {
                postIdToHandle = this.dataset.id;
                $('#rejectModal').modal('show');
            });
        });

        document.getElementById('confirmRejectBtn').addEventListener('click', async function () {
            if (postIdToHandle) {
                const res = await fetch(`/Admin/Post/Reject?id=${postIdToHandle}`, { method: 'POST' });
                const data = await res.json();
                $('#rejectModal').modal('hide');
                showToast(data.message, data.success);
                if (data.success) {
                    setTimeout(() => location.reload(), 1500);
                }
            }
        });

        // ========== TOGGLE BULK BUTTONS ==========
        function toggleBulkButtons() {
            const checkedCount = document.querySelectorAll('.post-checkbox:checked').length;
            document.getElementById('bulkActionButtons').style.display = checkedCount > 0 ? 'flex' : 'none';
        }

        document.getElementById('checkAll').addEventListener('change', function () {
            const isChecked = this.checked;
            document.querySelectorAll('.post-checkbox').forEach(cb => cb.checked = isChecked);
            toggleBulkButtons();
        });

        document.querySelectorAll('.post-checkbox').forEach(cb => {
            cb.addEventListener('change', toggleBulkButtons);
        });

        // ========== OPEN BULK APPROVE MODAL ==========
        document.querySelector('.btn-approve-all').addEventListener('click', function () {
            const selected = document.querySelectorAll('.post-checkbox:checked');
            if (selected.length === 0) {
                showToast("⚠️ Bạn chưa chọn bài viết nào để duyệt.", false);
                return;
            }
            $('#bulkApproveModal').modal('show');
        });

        // ========== OPEN BULK REJECT MODAL ==========
        document.querySelector('.btn-reject-all').addEventListener('click', function () {
            const selected = document.querySelectorAll('.post-checkbox:checked');
            if (selected.length === 0) {
                showToast("⚠️ Bạn chưa chọn bài viết nào để từ chối.", false);
                return;
            }
            $('#bulkRejectModal').modal('show');
        });

        // ========== CONFIRM BULK APPROVE ==========
        document.getElementById('confirmBulkApproveBtn').addEventListener('click', async function () {
            const selectedIds = Array.from(document.querySelectorAll('.post-checkbox:checked')).map(cb => cb.value);
            let allSuccess = true;

            for (const id of selectedIds) {
                const res = await fetch(`/Admin/Post/Approve?id=${id}`, { method: 'POST' });
                const data = await res.json();
                showToast(data.message, data.success);
                if (!data.success) allSuccess = false;
            }

            $('#bulkApproveModal').modal('hide');
            if (allSuccess) {
                setTimeout(() => location.reload(), 1500);
            }
        });

        // ========== CONFIRM BULK REJECT ==========
        document.getElementById('confirmBulkRejectBtn').addEventListener('click', async function () {
            const selectedIds = Array.from(document.querySelectorAll('.post-checkbox:checked')).map(cb => cb.value);
            let allSuccess = true;

            for (const id of selectedIds) {
                const res = await fetch(`/Admin/Post/Reject?id=${id}`, { method: 'POST' });
                const data = await res.json();
                showToast(data.message, data.success);
                if (!data.success) allSuccess = false;
            }

            $('#bulkRejectModal').modal('hide');
            if (allSuccess) {
                setTimeout(() => location.reload(), 1500);
            }
        });
    </script>
}